{% for idx, l in lights.items() %}
Switch   {{ l._alias }}          "{{ l.name }}"   (groups)          {hue="{{ idx }}"}
Dimmer   {{ l._alias }}_dim      "{{ l.name }}"   (groups,dimmer)   {hue="{{ idx }};brightness;30"}
{% if l.state.colormode -%}
Colour   {{ l._alias }}_colour   "{{ l.name }}"   (groups,colour)   {hue="{{ idx }}"}
{% endif %}
{%- endfor %}